
body{
background-color:#BA076F;
}

form{
border:1px solid black;
margin-left:300px;
margin-right:300px;
margin-top:100px;
height:150px;
background-color:#DDAA79;
color:#FF00AA;
font-weight:bold;
}

input{
margin-top:10px;
}

h1{
color:#00BAF5;
font-weight:bold;
}